/*PADRÃO*/

*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

nav, ul{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
    color:#676767;
}

a:hover{
    color: #FFBA9D;
}


/*HEADER*/

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #FFF;
}

header nav{
    display:flex;
}

header li a{
    color: #474747;
}

header li{
    margin: 0 15px;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    header .title{
        margin-bottom: 15px;
    }

}

.title{
    color: #474747;
    font-size: 1.3rem;
    font-weight: normal;
}

/*CONTENT*/

.content{
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 15px;
}

.content p{
    font-weight: lighter;
}

/*Side Bar*/

.sideBar{
    flex-basis: 25rem;
    flex-grow: 1;
    color:#474747;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 68px;
    gap: 15px;
}

.sideBar h1, .sideBar h2{
    font-weight: normal;
}

.sideBar p{
    text-align: left;
    font-size: 0.96rem;
}

.sideBar img{
    width: 250px;
    align-self: center;
    margin-bottom: 15px;
}

.sideBar ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.sideBar ul a i{
    font-size: 20px;
}

/*Main Content*/

.main-content {
    flex-basis: 0;
    flex-grow: 999;
    color:#474747;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 68px;
    gap: 15px;
}

.tipos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tipos h1{
    font-size: 1.3rem;
    font-weight: normal;
}

.tipos h3{
    font-weight: normal;
}

@media screen and (max-width: 850px) {
    .sideBar h1, .sideBar h2, .sideBar ul, .sideBar .curriculo, .sideBar .email{
        align-self: center;
    }

    .sideBar{
        margin-bottom: 25px;
    }

}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: column;
    background-color:#EBEBEB;
    padding: 20px 0;
    align-items: center;
}

footer p{
    font-size: 0.8rem;
    color: #474747;
}