/*HEADER*/

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 68px;
    background-color: #FFF;
}

header nav{
    display:flex;
}

header li a{
    color: #474747;
}

header li{
    margin: 0 15px;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    header .title{
        margin-bottom: 15px;
    }

}

.title{
    color: #474747;
    font-size: 1.3rem;
    font-weight: normal;
}