.skills{
    background-color: $brown;

    .text{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0 50px;
    }

    .skill{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 50px;

        p{
            font-family: 'Open Sans', sans-serif;
            padding: 20px 50px;
            text-align: center;
        }
    
        h3{
            font-family: 'Sanchez', sans-serif;
            font-weight: 200;
        }
    }
}