.Card {
    background-color: #eeeeee;
    border-radius: 4px;
    padding: 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}

.Card:hover{
    background-color: #dbdbdb;
}

.Image{
    width: 150px;
    height: 150px;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.small-text{
    text-align: left;
    font-size: 0.96rem;
    font-weight: lighter;
}

.Card a:hover{
    color: #474747;
    text-decoration:none;
}