/*PADRÃO*/

*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

nav, ul{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
    color:#676767;
}

a:hover{
    color: #B43930;
    text-decoration:underline;
}

div {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.content{
    color:#474747;
    display: flex;
    flex-direction: column;
    padding: 30px 200px;
    gap: 15px;
}