/*PADRÃO*/

*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'open sans', monospace;
    overflow: auto;
}

nav, ul{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
    color:#474747;
}

a:hover{
    color: #B43930;
    text-decoration:underline;
}

div {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.content{
    color:#474747;
    display: flex;
    flex-direction: column;
    padding: 30px 200px;
    gap: 15px;
}

@media screen and (max-width: 700px) {
    .content {
        display: flex;
        flex-direction: column;
        padding: 40px 80px;
    }

    .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
    }
    
    p{
        text-align: left;
        font-size: 0.92rem;
        color: #474747;
    }

}

@media screen and (max-width: 300px) {
    .content {
        display: flex;
        flex-direction: column;
        padding: 40px 40px;
    }
}
