/*FOOTER*/

footer{
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: #cc574e;
    margin-top: 30px;
}

footer p{
    font-size: 0.8rem;
    color: #fff;
    padding: 15px 0;
    font-weight: bold;
}
