/*HEADER*/

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 68px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    flex-direction: row;
}

header li a{
    color: #474747;
}

header ul{
    gap: 35px;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    header h1{
        margin-bottom: 20px;
    }

}

h1{
    color: #474747;
    font-size: 1.3rem;
    font-weight: normal;
}

.icon{
    color: #474747;
    font-size: 18px;
}
