/*Side Bar*/

.Sidebar{
    /*flex-basis: 25rem;
    flex-grow: 1;*/
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 0;
    color:#474747;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 68px;
    gap: 15px;
}

.Sidebarh1, .Sidebar h2{
    font-weight: normal;
}

.small-text{
    text-align: left;
    font-size: 0.96rem;
    font-weight: lighter;
}

.Sidebar img{
    width: 250px;
    align-self: center;
    margin-bottom: 15px;
}

.Sidebar ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.Sidebar ul a i{
    font-size: 20px;
}


@media screen and (max-width: 850px) {
    .Sidebar h1, .Sidebar h2, .Sidebar ul, .Sidebar .curriculo, .Sidebar .email{
        align-self: center;
    }

    .Sidebar{
        margin-bottom: 25px;
    }

}